.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

android/.gradle/
android/local.properties
android/app/.cxx/
android/app/build/

ios/Flutter/
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

*.iml
.idea/
.vscode/
